/* html background */
html {
  background: url("img/sand-bg.jpg") no-repeat center fixed;
  font-family: 'Courier New', Courier, monospace;
}
  
/* Body */
div {
  background: rgba(255, 255, 255, 0.4);
  padding: 20px 100px;
  width: 600px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation Bar */
#navigation {
  font-weight: bold;
  text-align: center;
}

a {
  margin-right: 10px;
  margin-left: 10px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

a:active {
  text-decoration: underline;
  color: black;
}

h4 {
  margin-left: auto;
  margin-right: auto;
}

/* Heading Centering */
h1 {
  text-align: center;
}

.infoTitles {
  text-align: center;
}

/* Centering */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}


  