/* html background */
html {
  background: url("img/sand-bg.jpg") no-repeat center fixed;
  font-family: 'Courier New', Courier, monospace;
}

/* Body */
div {
  padding: 200px 100px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* body */
body {
  text-align: center;
}
  
/* Navigation Bar */
#navigation {
  font-weight: bold;
}

a {
  margin-right: 10px;
  margin-left: 10px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

a:active {
  text-decoration: underline;
  color: black;
}

h4 {
  margin-left: auto;
  margin-right: auto;
}